.aboutib{
    width:100%;
}
.aboutIB_banner {
  background-image: url("../../assets/images/aboutIB_header.jpg");
  display: grid;
  place-items: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 243px;
  color: #FFFFFF;
  position: relative;
}



.about_ib_logo{
  opacity: 0;
  width: 100px;
  padding-bottom: 20px ;
  transition: opacity 0.4s ease-in-out;
}


.about_ib_logo.logo_fade_in {
  opacity: 1;
}



.aboutIB_banner_text {
  padding: 0 1.25rem;
  position: absolute;
  bottom: -80px;
  display: flex;
  align-items: end;
  color: #FFFFFF;
  font-family: 'biennalesemibold';
  font-style: normal;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 124.5%;
  text-align: center;
  animation: none;
  transition: all 0.6s ease-in-out;
}


.aboutIB_banner_text.slide_up {
  bottom: -22.5px;
  opacity: 1;
}



@keyframes slideup-banner {
  0%{
      transform: translateY(60px);



  }100%{
      transform: translateY(0px);

  }
}

  .aboutIB_content{
    /* border: 1px solid; */
    padding: 40px 0;
    width:1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}


  .aboutIB_text {
    /* border: 1px solid red; */
    padding: 0 80px;
    font-size: 1.2rem;
    font-family: "biennalemedium";
    color: #6b6b69;
    width:50%;
  }


  .aboutIB_ilust1{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    width:50%;
  }


.aboutIB_text h1 {
  font-size: clamp(2.5rem, 5vw + 2rem, 2rem);
  line-height: 38px;
  font-family: "biennalemedium";
  color: #00028a;
  padding: clamp(10px, 3vw, 1.25rem) 0;
  position: relative;
  font-weight: 500 !important;
}
.aboutIB_text span {
  color: #FB5604;
}


