.benefitib_container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.benefit_hero_container {
  max-width: 1500px;
  width: 100%;
  position: relative;
  /* overflow: hidden;   */
}

.benefit_banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.benefit_header_text{
  font-size: clamp(2rem, -0.8341rem + 9.0293vw, 4.5rem);
  color: white;
  font-family: "biennalemedium";
  position: absolute;
  text-align: center;
  top: 25%;
  left: 10%;
  right: 10%;
  /* transform: translate(-50%, -50%); */
}

.detail_card_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Adjust this based on your desired alignment */
  gap: 50px;
  overflow-x: auto; /* Use "auto" instead of "scroll" */
  scroll-snap-type: x mandatory;
  scroll-padding: 0 50%;
  width: 100%; /* Set the width to 100% */
}

.detail_card_container .about_card {
  scroll-snap-align: center;
  background-image: linear-gradient(#ffad00, #fe6b02);
  color: white;
  min-width: 300px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.8rem;
  text-align: center;
  font-family: "biennalelight";
  font-weight: 700;
}

.detail_card_container .about_card:first-child {
  margin-left: 50px; /* Add a margin to the first card to account for the gap */
}

.detail_card_container .about_card:last-child {
  margin-right: 50px; /* Add a margin to the last card to account for the gap */
}

.about_card .img_container {
  background-color: white;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}
.about_card .img_container img {
  width: 70px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 1024px) {
  .detail_card_container {
    bottom: -120px;
    justify-content: flex-start; /* Adjust this based on your desired alignment */
  }


}


@media screen and (max-width: 600px) {

  .detail_card_container {
    bottom: -200px;
    justify-content: flex-start; /* Adjust this based on your desired alignment */
  }

}


@media screen and (max-width: 425px) {



}