.benefitib_container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  /* border: 1px solid darkblue; */
}

.benefit_hero_container_1 {
  max-width: 1500px;
  width: 100%;
  height: auto; /* Change height to auto */
  /* border: 1px solid red; */
  position: relative;
  overflow: hidden;
}

.benefit_banner_img {
  width: 100%;
  display: block;
  height: auto; /* Change height to auto */
  object-fit: cover;
  object-position: center;
}



.benefit_hero_container_2 {
  background-color: #f0f0f0;
  height: 550px;
  max-width: 1500px;
  width: 100%;
  position: relative;
}

.benefit_header_text {
  font-size: clamp(2rem, -0.8341rem + 9.0293vw, 4.5rem);
  color: white;
  font-family: "biennalemedium";
  position: absolute;
  text-align: center;
  top: 25%;
  left: 10%;
  right: 10%;
  /* transform: translate(-50%, -50%); */
}

.detail_card_container {
  position: absolute;
  top: -240px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  /* Adjust this based on your desired alignment */
  gap: 50px;
  overflow-x: auto;
  /* Use "auto" instead of "scroll" */
  scroll-snap-type: x mandatory;
  /* scroll-padding: 0 50%; */
  width: 100%;
  /* Set the width to 100% */
}

.benefit_main_card {
  max-width: 300px;
}

.benefit_top_card {
  scroll-snap-align: center;
  background-image: linear-gradient(#ffad00, #fe6b02);
  color: white;
  min-width: 300px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.8rem;
  text-align: center;
  font-family: "biennalelight";
  font-weight: 700;
}

.benefit_main_card:first-child {
  margin-left: 50px;
}

.benefit_main_card:last-child {
  margin-right: 50px;
}

.benefit_top_card .img_container {
  background-color: white;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}

.benefit_top_card .img_container img {
  width: 70px;
  aspect-ratio: 1/1;
}

.benefit_bottom_card {
  background-color: white;
  padding: 30px;
  height: 411px;
  line-height: 1.4rem ;
  font-size: 1rem;
  font-family: "biennalemedium";
  color: #6B6B69;
  position: relative;
}

.benefit_bottom_card::before{
  content: '';
  position:absolute;
  width: 0; 
  height: 0; 
  bottom:0;
  right:0;
  border-left: 30px solid transparent;
  border-bottom: 30px solid #FF9900;
}
.benefit_bottom_card::after{
  content: '';
  position:absolute;
  width: 0; 
  height: 0; 
  bottom:7px;
  right:7px;
  border-right: 20px solid transparent;
  border-top: 20px solid #DEDEDE;
}


.wwoff_container{
  display: flex;
  justify-content: flex-start;
  max-width: 1500px;
  width: 100%;
  gap: clamp(4rem, -2.9231rem + 10.8173vw, 6.8125rem);
  padding-bottom: 5rem;
  
}

.wwoff_illus_container{
  max-width: 650px;
  max-height: 600px;
  min-width: 370px;
  min-height: 350px;
}

.wwoff_illus_img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.wwoff_content{
  max-width: 530px;
  max-height: 600px;
  padding-right: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 20px; */
}


.wwoff_content_heading{
  color: #FE3000;
  /* text-align: center; */
  font-family: "biennalemedium";
  font-size: clamp(3.438rem, 2.991rem + 1.19vw, 4.063rem);
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
}

.wwoff_content_text{
  color: #6C6C6A;
  font-family: "biennalemedium";
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
}


.wwoff_three_tiles_container{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap:40px;
}


.wwoff_tile{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 45px;
  font-style: normal;


}

.wwoff_tile_head{
  /* outline: 1px solid blue; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  font-size: 1.9rem;
  font-family: "biennalemedium";
  font-weight: 400;
  padding: 0 10px;
}


.wwoff_tile_head::after {
  content: "";
  position: absolute;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 7px;

}

.wwoff_tile_head.tile_1::after{
  border-color: transparent transparent transparent #4789d9;
}

.wwoff_tile_head.tile_2::after{
  border-color: transparent transparent transparent #fe7702;
}

.wwoff_tile_head.tile_3::after{
  border-color: transparent transparent transparent #ffbe00;
}


.wwoff_tile_tail{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "biennalesemibold";

}

.benefit_detail_heading_container_wrapper{
  width: 100%;
  /* background-color: #D1E7FF; */
}

.benefit_detail_container{
  width: 100%;
  padding-bottom: 7rem;
}

.benefit_detail_heading_container{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* background-color: #4789d9; */
}

.benefit_detail_heading_text{
  padding: 20px 0 20px clamp(1.25rem, 0.3697rem + 3.7559vw, 3.75rem);
  font-size: 3.2rem;
  font-family: "biennalemedium";
}

.benefit_detail_body_container{
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding: 20px clamp(1.25rem, 0.3697rem + 3.7559vw, 3.75rem);
}

.benefit_detail_body{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.benefit_detail_body span{
  color: #6C6C6A;
  font-family: "biennalemedium";
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
}


.benefit_detail_body_sub {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Initially, 4 tiles in the first column */
  gap: 30px;
}



.benefit_detail_body_sub_tile{
  display: flex;
  gap: 10px;
  /* height: 40px !important; */
  /* width: 300px !important; */
  
}

.benefit_detail_body_sub_tile_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit_detail_body_sub_tile_icon img{
  width: 24px;
}

.benefit_detail_body_sub_tile_text{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6B6B69;
  font-family: "biennalemedium";
  font-size: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: 124%; /* 35.712px */
}

.myp_icons_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.myp_icon_card{
  display: flex;
  flex-direction: column;
  width: 180px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.myp_icon_card img{
  width: 65px;
}

.myp_icon_text{
  color: #154CA9;
  text-align: center;
  font-family: "biennalemedium";
  font-size: clamp(1.25rem, 1.1972rem + 0.2254vw, 1.4rem);
  font-style: normal;
  font-weight: 500;
  line-height: 124%;
}




























@media screen and (max-width: 1024px) {
  .detail_card_container {
    top: -150px;
    justify-content: flex-start;
    /* Adjust this based on your desired alignment */
  }

  .wwoff_container{
    padding-top: 30px;
  }


}


@media screen and (max-width: 768px) {

  .detail_card_container {
    top: -80px;
    justify-content: flex-start;
    /* Adjust this based on your desired alignment */
  }

  .benefit_hero_container_2{
    height: 700px;
  }


  .wwoff_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    gap: 3rem;
    padding: clamp(1rem, -5.4286rem + 32.1429vw, 10rem);
  }

  .wwoff_illus_container{
    min-height: auto;
    min-width: auto;
  }
  

  .wwoff_content_heading{
    text-align: left;
  }

  .wwoff_content{
    padding-right: 0;
    text-align: left;
    display: flex;
    gap: 1rem;

  }

  .benefit_detail_body_sub {
    grid-template-columns: repeat(1, 1fr); /* Initially, 4 tiles in the first column */

  }

}


@media screen and (max-width: 425px) {

  .detail_card_container {
    top: -50px;
    justify-content: flex-start;
    /* Adjust this based on your desired alignment */
  }

  .wwoff_container{
    padding-top: 0;
  }




}