/* counter  */
.counter-div {
  /* border: 3px solid blue; */
  width: 80%;
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 10px 93px -39px rgba(173, 173, 173, 0.75);
  border-radius: 5px;
  background-color: white;
  max-width: 1200px;
  /* position: relative; */
  top: 200px;
  margin: clamp(30px, 6vw, 7rem) 0 0 0 ;
}
.counter-div .n1 {
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  /* border:1px solid; */
}
.n1:not(:last-child)::before {
  content: "";
  width: 1px;
  height: 60%;
  background-color: black;
  position: absolute;
  right: 0;
}
.counter-div p:first-child {
  font-family: "articulat_cfdemi_bold";
  font-size: 5rem;
  position: relative;
}

.lp1 p:first-child {
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(246, 60, 125) 30%,
    rgb(255, 123, 110) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lp2 p:first-child {
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(44, 191, 199) 20%,
    rgb(70, 238, 170)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lp3 p:first-child {
  background-image: -webkit-linear-gradient(
    150deg,
    rgb(18, 112, 227) 30%,
    rgb(99, 194, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lp4 p:first-child {
  background-image: -webkit-linear-gradient(
    180deg,
    rgb(129, 34, 239) 20%,
    rgb(255, 99, 224)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.n1:is(.lp1, .lp2, .lp3, .lp4) p:first-child::after {
  content: "+";
  font-size: 2.5rem;
  position: absolute;
  top: -10px;
  -webkit-text-fill-color: rgb(246, 60, 125);
}
.n1:is(.lp2) p:first-child::after {
  -webkit-text-fill-color: rgb(44, 191, 199);
}
.n1:is(.lp3) p:first-child::after {
  -webkit-text-fill-color: rgb(18, 112, 227);
}
.n1:is(.lp4) p:first-child::after {
  -webkit-text-fill-color: rgb(129, 34, 239);
}
.counter-div p:last-child {
  font-family: "biennalemedium";
  font-size: 1.1rem;
}


