.whatsAppContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 999;
}

.whatsAppIcon {
  display: flex;
}
