.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  /* border: 2px solid green; */
}

.text_img_container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  width: 1200px;
}

.first_half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* border: 2px solid black; */
  /* max-width: 80%; */
  /* font-size: clamp(15px, 10vw + 1rem, 20%) !important; */
}

.second_half {
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px solid blue; */
}




.text h1 {
  font-size: clamp(2rem, 5vw + 1rem, 3.4rem);
  font-family: "biennalesemibold";
  color: #00028a;
  padding: clamp(10px, 3vw, 1.25rem) 0;
  position: relative;
}
.text h1::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/3stick.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  left: -20px;
  top: 14px;
}
.text span:first-child {
  background: -webkit-linear-gradient(yellow, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text span:last-child {
  background: -webkit-linear-gradient(
    180deg,
    rgb(0, 121, 255) 20%,
    rgb(0, 187, 225)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.text span:last-child::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: contain;
  width: 180px;
  height: 12px;
  bottom: -3px;
  right: -10px;
}

.text div:last-child {
    color: #6b6b6a;
    font-family: "biennalemedium";
    font-size: clamp(16px, 1.5vw, 1.4rem);
    font-weight: 500;
  }

  .btn {
    padding: 8px;
    background-image: linear-gradient(rgb(255, 161, 0), rgb(255, 84, 0));
    font-size: 0.8rem;
    font-family: "biennalemedium";
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 0px #d11f00;
    margin: clamp(10px, 2vw, 16px) 0;
}

.btn:active {
  box-shadow: 0 1px 0px #d11f00;
}


.ill_position{
  position: relative;
}

.apple{
  position: absolute;
  width: 4%;
  bottom: 260px;
  right: 250px;
  animation: apple-rotate 0.5s infinite alternate;
 
}

@keyframes apple-rotate {
  0%{
    transform: rotate(350deg);
  }100%{
    transform: rotate(290deg);
  }
  
}

.box{
  position: absolute;
  width: 7.5%;
  bottom: 300px;
  right: 140px;
  animation: box-rotate 4s infinite 0s;

 
}

@keyframes box-rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
  
}

.scale{
  position: absolute;
  width: 6%;
  bottom: 160px;
  right: 440px;
  animation: scale-rotate 1s infinite alternate;
 
}

@keyframes scale-rotate {
  0%{
    transform: rotate(360deg);
  }100%{
    transform: rotate(290deg);
  }
  
}

.target{
  position: absolute;
  width: 6.5%;
  bottom: 300px;
  right: 330px;
  animation: target-rotate 2s infinite;
 
}

@keyframes target-rotate {
  0%{
    transform: rotate(360deg);
  }100%{
    transform: rotate(0deg);
  }
  
}

.pie{
  position: absolute;
  width: 7.5%;
  bottom: 190px;
  right: 110px;
  animation: pie-rotate 5s infinite;
 
}

@keyframes pie-rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
  
}

.rings{
  position: absolute;
  width: 5.8%;
  bottom: 75px;
  right: 390px;
  animation: rings-rotate 1.5s infinite;
 
}

@keyframes rings-rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
  
}

.bulb{
  position: absolute;
  width: 6.5%;
  bottom: 70px;
  right: 80px;
  animation: bulb-rotate 0.3s infinite alternate ;
 
}

@keyframes bulb-rotate {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(-40deg);
  }
  
}

.calculator{
  position: absolute;
  width: 10%;
  bottom:200px;
  right: 340px;
  animation: calculator-rotate 1.5s infinite alternate;
 
}

@keyframes calculator-rotate {
  0%{
    transform: rotate(360deg);
  }100%{
    transform: rotate(290deg);
  }
  
}

.hexagon{
  position: absolute;
  width: 10%;
  bottom: 140px;
  right: 5px;
  animation: hexagon-rotate 3s infinite;
 
}

@keyframes hexagon-rotate {
  0%{
    transform: rotate(360deg);
  }100%{
    transform: rotate(0deg);
  }
  
}




/* carousel css  */
.graduation {
  background-image: url("../../assets/images/confetti.png");
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "biennalesemibold";
  font-size: 1.5rem;
  color: #d6a100;
  max-width: 1920px;
}

.arrows {
  width: 60px;
  aspect-ratio: 1/1;
  /* position: absolute; */
  top: 60%;
}
.graduation p {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.graduation span {
  position: relative;
}
.graduation span::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: cover;
  width: 320px;
  height: 10px;
  bottom: -5px;
  right: 0px;
}
/* .arrows:first-child {
  left: 150px;
}
.arrows:last-child {
  right: 150px;
} */
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
}
.slider-img {
  height: 450px;
  margin: 10px 10px 3rem 10px;
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 5px rgb(233, 233, 233);
}
.carousel img:is(:first-child, :last-child) {
  height: 400px;
}

/* about us section  */
.About-us {
  width: 100%;
  height: 700px;
  display: flex;
}
.ilustrate-2 {
  background-image: url("../../assets/images/About-background.png");
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 6rem;
  background-size: cover;
}
.ilustrate-2 img {
  width: 450px;
}
.text2 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 8rem;
  font-family: "biennalemedium";
}
.text2 h1 {
  font-family: "biennalesemibold";
  font-size: 4rem;
  padding-bottom: 1.2rem;
  color: #e34c00;
  position: relative;
}
.text2 h1::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/lines.jpg");
  background-size: contain;
  width: 90px;
  height: 20px;
  bottom: 14px;
  right: 100px;
}

.text2 h1 span {
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(0, 121, 255) 20%,
    rgb(0, 187, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text2 p {
  font-size: 1.3rem;
  color: rgb(0 0 0/0.6);
  font-weight: 500;
}
.text2 .btn,
.text3 .btn {
  font-size: 0.8rem;
  padding: 8px;
}

/* benefits  */
.benefits_container{
  padding-top: 10rem;
}

.text3{
  padding-left: 5rem;
}

.text3 h1 {
  font-size: clamp(2rem, 5vw + 1rem, 3.4rem);
  font-family: "biennalesemibold";
  padding: clamp(10px, 3vw, 1.25rem) 0;
  color: #00028a;
  line-height: 3.7rem;
}
.text3 span {
  background: -webkit-linear-gradient(180deg, red, rgb(255, 112, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.text3 p {
  font-size: 1.3rem;
  font-family: "biennalemedium";
  opacity: 0.6;
}


.text3 h1 span::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: contain;
  width: 235px;
  height: 12px;
  bottom: -3px;
  right: -10px;
}

.ilustrate-3 {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-right: 5rem;
  background-size: contain;
}
.ilustrate-3 img {
  width: 450px;
}

/* Qoutes  */
.qoute_container {
  
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-size: 5rem;
  font-family: "biennalelight";
}
.main-q {
  max-width: 1200px;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
}


.main-q p {
  background: -webkit-linear-gradient(135deg, red, rgb(255, 150, 0) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
}




.main-q img{
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.deco_img {
  width: 100%;
  animation: rotate-vertically 3s linear infinite alternate;
  
}

@keyframes rotate-vertically {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);

  }
}




/* cours.course_containers  */

.course_container {
  max-width: 1200px;
  padding-top: 5rem;
  width: 100%;
  display: grid;
  place-items: center;
}
.course_container p {
  font-family: "biennalemedium";
  font-size: 3rem;
  text-align: center;
  margin: auto;
  color: #ff5400;
  padding: 3rem 0;
}
.course_container p span {
  background-image: -webkit-linear-gradient(
    135deg,
    rgb(0, 121, 255) 50%,
    rgb(0, 187, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.course_container p span::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: contain;
  width: 200px;
  height: 12px;
  bottom: -10px;
  right: -10px;
}

.courses {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px 40px;
}
.courses img {
  width: 19.1rem;
  margin: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.courses img:hover {
  transform: scale(1.1);

}

/* Teams  */

.team {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.team p {
  font-family: "biennalemedium";
  font-size: 3rem;
  padding: 4rem;
  color: #00028a;
  position: relative;
}
.team p::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/3stick.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 60px;
  left: 40px;
}
.team p span {
  background: -webkit-linear-gradient(135deg, red, rgb(255, 150, 0) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
  position: relative;
}
.team p span::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: contain;
  width: 150px;
  height: 10px;
  bottom: -10px;
  right: -10px;
}

/* testimonial  */
.testimonial_container {
  margin-top: 10rem;
  width: 100%;
  background-image: url("../../assets/images/Testimonaial.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials{
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text4 {
  display: grid;
  place-items: center;
}
.text4 p:first-child {
  color: #ffde00;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "biennalesemibold";
  padding-top: 4rem;
}
.text4 p:last-child {
  font-size: 3rem;
  text-align: center;
  color: white;
  font-family: "biennalemedium";
  padding: 1rem 0 3rem 0;
}
.text4 p span {
  position: relative;
}
.text4 p span::after {
  content: "";
  position: absolute;
  background-image: url("../../assets/images/line.svg");
  background-size: contain;
  width: 160px;
  height: 10px;
  bottom: 0px;
  right: 10px;
}
.testcard {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
.tweet-img {
  width: 80%;
}

.ilustrate-4{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding-bottom: 5rem;
}

/* .ilustrate-4 .arrows:first-child {

}
.ilustrate-4 .arrows:last-child {

} */

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;

}

/* footer  */

.footer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #f2f2f2;
  font-family: "biennalelight";
}
.footer_container .icons {
  display: flex;
  justify-content: space-between;
  padding: 6.8rem 0 3rem 0;
}

.footer{

  width: 100%;
  max-width: 1200px;
}

.social-icons {
  font-size: 2.2rem;
  color: white;

}

.each_icon{
  margin  : 5px;
}



.footer_container .links {
  display: flex;
  justify-content: space-between;
  color: #6b6b6b;
  padding: 2rem 0;
  font-size: 0.9rem;
}
.links .nav-links {
  display: flex;
  list-style-type: none;
  font-weight: 600;
}
.links .nav-links li {
  padding-right: 2.2rem;
  position: relative;
}
.nav-links li:not(:last-child)::after {
  content: "";
  height: 10px;
  border: 1px solid;
  position: absolute;
  right: 15px;
  bottom: 4px;
  color: #6b6b6b;
}

@media screen and (min-width: 1024px) {
  .text_img_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .first_half {
    display: flex;
    flex:40%;
    flex-direction: column;
    justify-content: center;
    /* font-size: clamp(15px, 10vw + 1rem, 20%) !important; */
  }

  .second_half {
    display: flex;
    flex:60%;
    justify-content: end;
    align-items: center;
  }



}

/* @media screen and (max-width: 1440px) {
  .textnill_container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    background-image: #fefbf2;
  }

  .first_half {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .second_half {
    padding: 2rem;
  }

  .text h1 {
    font-size: 3.5rem;
    font-family: "biennalesemibold";
    color: #00028a;
    margin-bottom: 2.5rem;
    position: relative;
  }

  .text div:last-child {
    color: #6b6b6a;
    font-family: "biennalemedium";
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1265px) {
  :root {
    font-size: 90%;
  }
}

@media screen and (max-width: 1055px) {
  .textnill_container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: #fefbf2;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 525px) {
  :root {
    font-size: 65%;
  }
  .text h1::before {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/3stick.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -20px;
    top: -10px;
  }

  .text span:last-child::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/line.svg");
    width: 100px;
    height: 10px;
    bottom: -1px;
    right: -2px;
    background-size: cover;
  }
} */
