.mr-b{
    margin-bottom: 20px;
}
.mr-t{
    margin-top: 20px;
}
.igsce_ilust_container img{
    width:80%;
}
.subject-list{
    font-size: var(--detail-medium);
}
.banner.b1{
    background-image: url("../../assets/IGCSE Content/Subjects Offered at IGCSE/3.jpg");
}
.list-header{
    color:#2464a2;
    font-weight: 500;
    list-style: none;
    position: relative;
    padding-left: 22px;
    margin-bottom: 10px;
}
.list-header::before{
    content: url("../../assets/IGCSE Content/Subjects Offered at IGCSE/Right tick.svg");
    width:10px;
    height: 10px;
    position: absolute;
    left:-3px;
    top:1px;
}
.list-inner > li{
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 10px;
}
.list-inner > li::marker{
    color:orange;
}

.igsce_content2 .content-detail{
    padding: 0 20px;
}
.list-container{
    font-size: var(--detail-medium);
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap:1rem .75rem;
}
.flex-list:not(.fl-span){
     flex-basis: calc(50% - 10px);
     box-sizing: border-box; 
}
