/* :root {
  overflow: hidden;
  padding-right: calc(100vw - 100%);
} */

/* navbar */
/* .navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  border-bottom: 4px solid #00a0ff;
}
.navbar-list a {
  text-decoration: none;
  color: rgba(0 0 0/0.8);
  font-family: "biennalesemibold";
  font-size: 1.4rem;
  padding: 20px;
  cursor: default;
} */



.logo_img{
  width: 249px;
  height: 44px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "biennalesemibold";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* border-bottom: 1px solid #D1D1D1; */
  background-color: white;
  width: 100%;
  height: 85px;
  z-index: 999;
  margin-bottom: 80px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  max-width: 1200px;
  height: 100%;

  
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  height: 100%;
  
}

.nav-item {
  width: auto;

}

/* .nav-links {
  color: #424242;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 4px solid transparent ;
}


.nav-links:hover,.nav-links:focus,.nav-links:active {
  color: #148ffa;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 4px solid #ff4c00;
} */

.nav-links {
  color: #424242;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  position: relative;
}

.nav-links::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-color: #ff4c00;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-links:hover::before,
.nav-links.active::before,
.nav-links:focus::before,
.nav-links:active::before {
  width: 100%;
}

.nav-links.active,
.nav-links:focus,
.nav-links:hover {
  color: #148ffa;
}













.menu-icon {
  display: none;
}

@media screen and (max-width: 1050px) {
  /* .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 105px;
    right: -120%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-top: 0;
  }

  .nav-menu.active {
    right: 0;
    padding-right: 30px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 0;
  } */

  /* .nav-links {
    text-align: right;
    padding: 2rem;
    width: 100%;
    display: table;
    background-color: white;
  } */

  /* .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  } */

  /* .nav-menu {
    display: none;
  } */

  .menu-icon {
    display: block;
    padding-right: 1rem;
    min-width: 55px;
    font-size: 1.8rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 100px;
    transform: translateX(-3000px);
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
    /* transition: all 0.5s ease-in-out; */
  }

  .nav-menu.active {
    /* transition: all 0.5s ease-in-out; */
    transform: translateX(0);
    z-index: 99;
  }

  .nav-links {
    color: rgba(0 0 0/0.8);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    justify-content: center;
  }

  .nav-links:hover {
    color: white;
    background-color: #114dac;
  }

  .nav-item {
    width: 100%;
    height: 80px;
    border-bottom: 0.5px solid #114dac;
  }

  .navbar {
    position: relative;
    height: 100px;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    -webkit-tap-highlight-color: transparent;
  }
}
