/* :root {
  overflow: hidden;
  padding-right: calc(100vw - 100%);
} */

.logo_img{
  width: 249px;
  height: 44px;
  
}

.navbar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  font-family: "biennalesemibold";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* border-bottom: 1px solid #D1D1D1; */
  background-color: white;
  width: 100%;
  height: 85px;
  z-index: 999!important;
  /* margin-bottom: 50px; */
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
  /* transition: top 0.3s ease-out; */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  animation: slideDown 0.8s forwards; 
}

@keyframes slideDown {
  0% {
    top: -85px;
  }
  100% {
    top: 0;
  }
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding: 0 1.25rem;
}


.nav-menu {
  display: flex;
  width: 60%;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

/* .nav-menu.active {
  flex-direction: column;
  align-items: flex-start;
  border-top: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

.nav-item {
  width: auto;

}

.nav-links {
  color: #424242;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.nav-links::before,.sub-nav-active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-color: #ff4c00;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-links:hover::before,
.nav-links.active::before,
.nav-links:focus::before,
.nav-links:active::before,
.sub-nav-active::before {
  width: 100%;
}

.nav-links.active,
.sub-nav-active,
.nav-links:focus,
.nav-links:hover {
  color: #148ffa;
}
.sub-nav-links{
  display: flex;
  /* color: #424242; */
  text-decoration: none;
  padding: 1rem 1.5rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.sub-sub-nav-links{
  display: flex;
  color: #424242;
  text-decoration: none;
  padding: 1rem 1.5rem;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.sub-nav-links:hover{
  color: #148ffa;
}

.sub-sub-nav-links:hover{
  color: #ff4c00;
}

.menu-icon {
  display: none;
}

.fas.fa-bars, .fas.fa-times{
  font-size: 1.25rem;
}

.fas.fa-chevron-up, .fas.fa-chevron-down{
  font-size: 0.6rem;
}



.dropdown-menu {
  color: #424242;
  position: absolute; /* Use absolute positioning */
  top: 100%; /* Position below the parent element */
  left: 0;
  display: none;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.dropdown-item > .sub-nav-links{
  color: #424242;
}

.dropdown-item:hover > .sub-nav-links{
  color: #148ffa;
}

.sub-dropdown-menu{
  position: absolute; /* Use absolute positioning */
  top: 0%; /* Position below the parent element */
  left: 100%;
  display: none;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
}



.dropdown-wrapper {
  position: relative; /* Add relative positioning */
}

.dropdown-wrapper:hover .dropdown-menu {
  display: block;
}


.dropdown-menu.active {
  display: block;
  background-color: white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.1);
}

.sub-dropdown-menu.active{
  display: block;
  background-color: white;
}

.dropdown-item {
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.sub-dropdown-item{
  cursor: pointer;
  list-style: none;
  text-align: left;
}

.dropdown-item:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-item:hover {
  color: #148ffa;
  background-color: #dcefff;
  /* background-color: #fff6f2; */

}

.sub-dropdown-item:hover{
  /* background-color: #dcefff; */
  background-color: #fff6f2;
}

.sub-dropdown-item:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}




/* @media screen and (max-width: 1440px) {
  .navbar{
    height: 70px;
  }

  .logo_img{
    height: 38px;
    width: 220px;

  }

} */





@media screen and (max-width: 1124px) {



 .navbar-fixed{
    position: fixed;
    top:0;
  }


  .menu-icon {
    display: flex;
    justify-content: end;
    min-width: 55px !important;
    font-size: 1.8rem;
    cursor: pointer;
    color: #424242;
    -webkit-tap-highlight-color: transparent;
  }

  .menu-icon > .fa-times:active{
    color: #ff4c00;
  }

  .menu-icon > .fa-bars:active{
    color: #148ffa;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 3px solid #ff4c00;
    position: fixed;
    top: 85px;
    right: 0;
    width: 100%;
    height: calc(100vh - 85px); /* Adjust the height value as needed */
    padding: 3rem 0 0 0 ;
    overflow: auto !important;
    /* gap: 1rem; */
    background-color: aliceblue;
    transform: translateX(2000px);
    transition: transform 200ms ease-out;
    z-index: 99 !important;
    -webkit-tap-highlight-color: transparent;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-links {
    color: #424242;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem 1rem;
    height: 100%;
    justify-content: center;
  }



  .logo {
    -webkit-tap-highlight-color: transparent;
  }


}



@media screen and (max-width: 320px) {



  .logo_img{
    width: 90%;
    height: 100%;
  }

}


@media screen and (max-width: 375px) {

  .logo_img{
    width: 85%;
    height: 100%;
  }

}



/* .shorten-navbar {
  height: 70px; 

}

.logo_img.large {
  width: 249px;
  height: 44px;

}

.logo_img.small {
  width: 230px !important; 
  height: 40px !important; 

} */






