

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70vw;
  max-width: 1200px;
  height:400px;
  position:relative;
}

.card{
  position:absolute;
  inset:0;
  margin:auto;
  width:300px;
  object-fit: cover;
  opacity:0;
  transition: 500ms;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 5px rgb(233, 233, 233);
}

.card--active{
  opacity: 1;
  transform: scale(1);
  z-index:99;
}

.card--left{
  transform: translateX(-120%) scale(.8);
  transition:500ms;
  opacity:1;
}
.card--right{
  transform: translateX(120%) scale(.8);
  transition:500ms;
  opacity:1;
}
.btn-cars{
  width:50px;
  height:50px;
  border-radius:50%;
  font-weight: bolder;
  font-size: 1.2rem;
  position: absolute;
  border:none;
  cursor: pointer;
}
.btn-cars img{
  width:50px;
  height: 50px !important;
}
.btn-cars-left{
  position: absolute;
  left:20px;
}
.btn-cars-right{
  position: absolute;
  right:20px;
}

.blue_shadow{
  background-image: url("../../assets/images/Team background.png");
}

@media screen and (max-width: 1650px) {
  .card--left{
    transform: translateX(-110%) scale(.8);
    transition:500ms;
    opacity:1;
  }
  .card--right{
    transform: translateX(110%) scale(.8);
    transition:500ms;
    opacity:1;
  }

  .btn-cars-left{
    position: absolute;
    left:-20px;
  }
  .btn-cars-right{
    position: absolute;
    right:-20px;
  }


}


@media screen and (max-width: 1550px) {
  .card--left{
    transform: translateX(-110%) scale(.8);
    transition:500ms;
    opacity:1;
  }
  .card--right{
    transform: translateX(110%) scale(.8);
    transition:500ms;
    opacity:1;
  }

  .btn-cars-left{
    position: absolute;
    left:-20px;
  }
  .btn-cars-right{
    position: absolute;
    right:-20px;
  }


}


@media screen and (max-width: 1420px) {
  .card--left{
    transform: translateX(-100%) scale(.8);
    transition:500ms;
    opacity:1;
  }
  .card--right{
    transform: translateX(100%) scale(.8);
    transition:500ms;
    opacity:1;
  }

  .btn-cars-left{
    position: absolute;
    left:-80px;
  }
  .btn-cars-right{
    position: absolute;
    right:-80px;
  }


}

@media screen and (max-width: 1150px) {
  .card--left{
    transform: translateX(-100%) scale(.8);
    transition:500ms;
    opacity:1;
  }
  .card--right{
    transform: translateX(100%) scale(.8);
    transition:500ms;
    opacity:1;
  }

  .btn-cars-left{
    position: absolute;
    left:-130px;
  }
  .btn-cars-right{
    position: absolute;
    right:-130px;
  }


}