.banner.b2{
    background-image:url("../../assets//IGCSE Content/Why Choose IGCSE/3.jpg");
}
.list-header2{
    color:black;
    font-weight: normal;
    list-style: none;
    position: relative;
    padding-left: 22px;
    margin-bottom:10px ;
}
.list-header2::before{
    content: url("../../assets/IGCSE Content/Why Choose IGCSE/Right tick bullet.svg");
    width:10px;
    height: 10px;
    position: absolute;
    left:-3px;
    top:3px;
}