.footer {
  background-color: #4a73dc;
  /* height: 670px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.footer_top_container {
  max-width: 1200px;
  /* width: clamp(300px,100%,1200px); */
  height: 100%;
  padding: 100px 15px;
}

.footer_top_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  gap: 60px;
  /* padding-top: 80px; */
}

.footer_top_column {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer_first_top_column {
  max-width: 250px;
}

.footer_logo {
  width: 70%;
}

.footer_logo_text {
  width: 74%;
}

.footer_heading_text {
  color: #ebecee;
  font-family: var(--font-primary);
  font-size: var(--detail-large);
}

.footer_detail_text {
  color: #ebecee;
  font-family: var(--font-primary);
  font-size: var(--detail-small);
  line-height: var(--detail-lh2);
  padding-top: 20px;
}

.footer_links_list {
  list-style: none;
}

.footer_links a {
  color: inherit; /* Inherit the color from the parent element */
  text-decoration: none; /* Remove the underline */
}

.footer_links {
  margin-bottom: 10px;
}

.footer_icon_text_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3px;
}

.last_colum_footer {
  gap: 30px;
}

.footer_bottom_container {
  border-top: 1px solid #4e6397;
  color: #ebecee;
  width: 100%;
  font-family: var(--font-primary);
  font-size: var(--detail-small);
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.bottom_text_copyright {
  max-width: 1200px;
  padding: 0 20px;
}

.padding_right {
  padding-right: 30px;
}

.fb_icon:hover {
  color: #4267b2 !important;
}

.tw_icon:hover {
  color: #1da1f2 !important;
}

.in_icon:hover {
  color: #bc2a8d !important;
}

.li_icon:hover {
  color: #0072b1 !important;
}

.each_icon {
  margin: 10px 5px 0 0;
  width: 32px;
  width: 32px;
}

@media screen and (max-width: 980px) {
  .footer_top_row {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: start;
    align-items: start;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    align-items: start;
  }

  .footer_top_row {
    flex-direction: column;
  }

  .bottom_text_copyright {
    padding: 0 95px 0 15px;
  }
}
