.about_us{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
}

.about_us_hero{
    /* border: 1px solid black; */
    width: 1050px;
    padding: 6.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_img{
    /* border: 1px solid red; */
    width: 95%;
}

.illustration4{
    width: 100%;
    padding-bottom: 2.5rem;
}

.hero_text{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 95%;
    font-family: "biennalemedium";
    font-weight: 500;


}

.hero_text_heading{
    text-align: center;
    font-size: 63.54px;
    line-height: 88.32px;

}


.hero_text_heading span:first-child{
    background: -webkit-linear-gradient(
        180deg,
        rgb(0, 121, 255) 20%,
        rgb(0, 187, 225)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.hero_text_heading span:last-child {
    position: relative;
    background: -webkit-linear-gradient(yellow, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .hero_text_heading span:last-child::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to left, #fff203, transparent 0%, transparent 40%, #ffd902);
    border-radius: 10px;
    background-size: 200% 100%;
    background-position: left bottom;
    transform: rotate(180deg);
  }
  


/* .hero_text_heading span:last-child::after{
    content: "";
    position: absolute;
    background-image: url("../../assets/images/line.svg");
    background-size: contain;
    width: 150px;
    height: 10px;
    bottom: 0px;
    right: -10px;
} */

/* .hero_text_heading span:last-child::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/underline_about us.png");
    background-size: contain;
    width: 180px;
    height: 12px;
    bottom: -3px;
    right: -10px;
} */


.hero_subtext{
    text-align: justify;
    margin: 10px 0;
    font-size: 20px;
    line-height: 27.8px;
    color: #6c6c6a;
}

.two_items_container{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1050px;
    align-items: space-between;
}

.two_items_container img:first-child{
    padding-right: 20px;
    padding-bottom: 16px;

}

.two_items_container img:last-child{
    padding-left: 30px;

}


.about_dir_container{
    /* border: 1px solid black; */
    width: 1050px;
    padding: 6.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_dir{
    display: flex;
    border: 4px solid transparent;
    border-radius: 30px;
    background: 
    linear-gradient(to right, white, white), 
    linear-gradient(160deg, red , #fec20c); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    width: 95%;
    height: auto;
}


.director{
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    height: 579px;

}

.dir_text{
    font-family: "biennalemedium";
    text-align: justify;
    padding: 40px;
}

.dir_heading{
    font-style: normal;
    font-weight: 350;
    font-size: 49px;
    line-height: 139%;
    background: -webkit-linear-gradient(146deg, red 70%, rgb(255, 150, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.dir_subtext{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.02px;
    color: #6c6c6a;
    margin: 16px 0;
    
}

.stories_background{
    background: #446AFD;
    width: 100%;
    display: flex;
    justify-content: center;
}

.stories_container{
    /* border: 2px solid black; */
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0;
}

.stories_heading{
    font-family: 'biennalemedium';
    font-style: normal;
    font-weight: 500;
    font-size: 47.3208px;
    line-height: 139%;
    color: #FFFFFF;
    padding-bottom: 1rem;
}

.stories_card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center

}

.stories_cards{
    height: 350px;
    width: 300px;
    /* border: 1px solid yellow; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_img{
    width: 100%;
}

.stories_img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.stories_img:hover{
    transform: scale(1.05);
}

.card_desc{
    display: flex;
    align-items: center;

    
}


.avatar_img{
    width: 20%;
}

.card_details{
    color: white;
    font-family: 'biennalemedium';
    padding: 10px;
}

.primary_text{
    font-style: normal;
    font-weight: 500;
    font-size: 19.3585px;
    line-height: 139%;
}

.secondary_text{
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 139%;
}


.team_container{
    /* border: 2px solid green; */
    width: 1050px;
    padding-bottom: 9rem;

}

.team_heading{
    font-family: "biennalemedium";
    font-size: 47.32px;
    padding: 9rem 0 2.9rem 0;
    line-height: 65.78px;
    color: #00028a;
    position: relative;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.team_heading::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/3stick.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 135px;
    left: 235px;
  }

.team_heading span{
    background: -webkit-linear-gradient(135deg, red, rgb(255, 150, 0) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
    position: relative;
}

.team_heading span::after {
    content: "";
    position: absolute;
    background-image: url("../../assets/images/line.svg");
    background-size: contain;
    width: 150px;
    height: 10px;
    bottom: -10px;
    right: -10px;
  }
  


.team_cards_container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.team_cards{
    margin: 15px;
    width: 30%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    border: 1px solid #eef1f9;
    
}

.team_cards:hover{
    transform: scale(1.05);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1440px) {
    .about_us{
      padding-top: 70px;
    }

}


