.main_container{
    position: relative;
}

.art1{
    position: absolute;
    top:20%;
    right:-25px;
    width:125px;
    z-index:-1;
}
.art2{
    position: absolute;
    bottom:37% ;
    width:125px;
    left:-35px;
    z-index:-1;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    background-image: url("../../assets/igcsepagecontent/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_content_area{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
}


.banner_text_content_area{
    color: white;
}

.banner_img_content_area{
    padding: 15px 0 0 0 ;
}

.banner_img_content{
    width: clamp(8.125rem, 6.875rem + 6.25vw, 12.5rem);
}

.banner_heading{
    font-family: var(--font-secondary);
    font-size: var(--banner-h);
    line-height: var(--banner-lh);
    font-weight: 800;
}

.banner_text{
    font-family: var(--font-primary);
    font-size: clamp(0.813rem, 0.679rem + 0.357vw, 1rem);
    font-weight: 300;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .banner:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0009;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
} */



/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .banner{
    width:100%;
    min-width: 700px;
}

.header .content-holder{
    position: absolute;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#fff;
}

.content-holder .details {
    width:40%;
}

.content-holder  img{
    width:15%;
    min-width:100px;
}

.content-holder h1{
    font-family: var(--font-secondary);
    font-size: var(--banner-h);
}

.content-holder p{
    font-family: var(--font-primary);
    font-size: var(--detail-small);
} */

.intro_igsce1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 0 0;
    gap: 30px;
    width: clamp(300px,100%,1200px);
    margin: 0 auto;
}

.intro_igsce2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 0 0;
    gap: 30px;
    width: clamp(300px,100%,1200px);
    margin: 0 auto 3rem auto;
}

.igsce_content1{ 
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.igsce_content2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.igsce_content1 .content_header{
    padding: 2rem clamp(1rem , 0.5714rem + 2.1429vw,2.5rem);
    font-family: var(--font-secondary);
}

.igsce_content1 .content_header h1{
    font-size: var(--para-h);
    color:#FB5604;
    font-weight: 600;
}
.igsce_content1 .content_header p{
    font-size: var(--detail-large);
    color:#2464a2;
    font-weight: 400;
}
.igsce_content1 .content-detail{
    padding:0 clamp(1rem , 0.5714rem + 2.1429vw,2.5rem);
    font-family: var(--font-primary);
    font-size: var(--detail-small);
    width: 71%;
}

.igsce_content2 .content-detail{
    padding:0 clamp(1rem , 0.5714rem + 2.1429vw,2.5rem);
    font-family: var(--font-primary);
    font-size: var(--detail-small);
    width: 70%;
}

.igsce_ilust_container {
    display: flex;
    justify-content: end;
    width: 50%;
}
.igsce_ilust_container img{
    width:100%;
    min-width:300px;
    padding:20px;
}

.book_in_wrapper{
    background-image:url("../../assets/igcsepagecontent/3.jpg");
    background-size: cover;
    min-height:200px;
    font-family: var(--font-secondary);
    color:white;
    width: 100%;
}

.book_in_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 15px 0;
}

.book_in_detail h1{
    /* font-weight: bold; */
    font-size: var(--template-h);
    line-height: var(--banner-lh);
    padding:10px;
    font-weight: 700 !important;

}

.book_in_detail small {
    font-size: var(--detail-medium);
    padding: 0 10px;

}
@media screen and (max-width: 800px) {
    .content-holder p{
        display: none;
    }

    .intro_igsce1{
        flex-direction: column;
    }

    .igsce_content1 .content-detail{
        padding:0 clamp(1rem , 0.5714rem + 2.1429vw,2.5rem);
        font-family: var(--font-primary);
        font-size: var(--detail-small);
        width: 90%;
    }

    .igsce_content2 .content-detail{
        padding:0 clamp(1rem , 0.5714rem + 2.1429vw,2.5rem);
        font-family: var(--font-primary);
        font-size: var(--detail-small);
        width: 90%;
    }

    .intro_igsce2{
        flex-direction: column-reverse;
    }

    .igsce_content1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .igsce_content2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    .igsce_ilust_container{
        justify-content: center;
    }
    .book_in_container{
        flex-direction: column;
    }

    /* .igsce_ilust_container img{
        min-width: 300px;
    } */

  }

  @media screen and (max-width: 425px) {
    .banner_content_area{
        flex-direction: column-reverse;
        gap: 20px;
    }

  }